/* body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  display: flex;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 30px;
}

#form {
  background-color: green;
}

#form > h3 {
  color: blue;
}

fieldset {
  border: none;
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
}

input {
  border-radius: 5px;
  border: solid 1px black;
  height: 20px;
  width: 50vw;
}
 */

body {
  display: flex;
  justify-content: center;
  background-color: #f2f6ed;
  color: #63595c;
}

#wrapper {
  border: 3px solid #404e4d;
  padding: 15px;
  width: 50vw;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

input {
  padding: 5px;
}

legend {
  font-size: 18px;
  font-weight: bold;
}

form > button {
  align-self: center;
}
