@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  display: flex;
  justify-content: center;
  background-color: #f2f6ed;
  color: #63595c;
  font-family: 'Poppins', sans-serif;
}

#wrapper {
  border: 3px solid #404e4d;
  padding: 15px;
  max-width: 80vw;
  /* flex-grow: 1; */
}

form {
  display: flex;
  flex-flow: column nowrap;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

input {
  padding: 5px;
}

legend {
  font-size: 18px;
  font-weight: bold;
}

form > button {
  align-self: center;
}
