#resume {
  border: 3px solid #404e4d;
  padding: 15px;
  margin-top: 15px;
  min-height: 65vh;
  width: 60vw;
}

#resume-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#name-title > h1,
.subheader {
  color: #646881;
}

#name-title > h1,
#name-title > h3 {
  margin: 0;
}

#name-title > h1 {
  font-size: 44px;
  /* font-size: 3.5vw; */
}

.subheader {
  margin: 10px 0 10px 0;
}

p,
h5 {
  font-size: 16px;
  margin: 0;
}

.experiences {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.experience {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.exp-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.education-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.degree {
  margin: 0;
}

.education-item {
  margin: 10px 0px 10px 0px;
}

.self-description > p {
  word-wrap: break-word;
}

#email {
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  #resume {
    width: 75vw;
  }
}
